{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/choice.css">
{% endblock %}

{% block content %}
    <h3>Состояние персонажа:</h3>
    <ul>
        <li>Здоровье: {{ character_state.health }}</li>
        <li>Золото: {{ character_state.gold }}</li>
        <li>Усталость: {% if character_state.fatigue %}Да{% else %}Нет{% endif %}</li>
        <li>Похмелье: {% if character_state.hangover %}Да{% else %}Нет{% endif %}</li>
        <li>Пониженное настроение: {% if character_state.dysmoral %}Да{% else %}Нет{% endif %}</li>
    </ul>

    <p>{{ choice_text }}</p>
    <form method="post">
        {% for index, choice in choices %}
            <label>
                <input type="radio" name="choice" value="{{ choice }}">
                {{ choice }}
            </label><br>
        {% endfor %}
        <input type="submit" value="Продолжить" class="submit">
    </form>
{% endblock %}